<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<!--
	Software owner: GNA Geomatics 
	Software developer: Julian Gray
	Contact details: +49 176 7299 7904
	email: gna.geomatics@gmail.com
	
	
	Comments:
	IPI data file conversion software
	Source data: IPI data files deposited by datalogger
	Deliverable: A text CSV file in Trimble 4D Control monitoring software format for importation by datalogger module
	File structure requirement: Each datalogger folder must have the same sub folder structure
	Number of Datalogger: This must be updated to reflect the number of datalogger locations that are listed below it.
	There is a limit of 100 IPI arrays.
	Datalogger location followed by associated IPI list: A location and a list must be supplied for each datalogger.

	-->

	<appSettings>

		<!-- Settings to be customised -->
		
		<add key="ProjectTitle" value="SRM IPI to T4D" />
		
		<!--Datalogger files sub-folder to be appended to the DataloggerLocation to give full file path-->
		<add key="configDataloggerFilesSubFolder" value="\Monitoring_Data\Data\DataloggerFiles"/>
		
		<!--T4D files sub-folder to be appended to the DataloggerLocation to give full file path-->
		<add key="configT4DFilesSubFolder" value="\Monitoring_Data\Data\T4Dfiles"/>

		<!--Number of Dataloggers listed below .. This must not exceed 100 -->
		<add key="configNumberOfDataloggers" value="4"/>
		
		<!--Datalogger name followed by associated IPI list, cut, paste and update number if more are needed -->
		<add key="configDatalogger_1" value="C:\_SRM_IPI_Test\13735-GrosvenorPlace"/>
		<add key="configIPIList_1" value="7497,7983"/>
		
		<add key="configDatalogger_2" value="C:\_SRM_IPI_Test\13903-GrosvenorPlace-1-5"/>
		<add key="configIPIList_2" value="7474,7596,7996,8567,13616,20239,32279"/>

		<add key="configDatalogger_3" value="C:\_SRM_IPI_Test\rubbish"/>
		<add key="configIPIList_3" value="7596"/>
		
		<add key="configDatalogger_4" value="C:\_SRM_IPI_Test\Monitoring_Data"/>
		<add key="configIPIList_4" value="7596,8034,8567,13616,20239"/>

		<!-- =============== Standard settings normally left unchanged ================= -->

		<!--Datalogger file extension search string-->
		<add key="configFileExtension" value="csv"/>
		<!-- Header column string identifier for columns to be converted -->
		<add key="configConversionTrigger" value="axis"/>
		<!--Conversion factor to be applied (Degrees to Radians)-->
		<add key="configConversionFactor" value="0.01745329"/>
		<!--No of decimal places for answer-->
		<add key="configDecimalPlaces" value="8"/>
		<!--Null data indicator-->
		<add key="configNullDataString" value="99999"/>
		<!-- email settings for software error messages  -->
		<add key="EmailFrom" value="T4DSMLGroup@gmail.com" />
		<add key="EmailLogin" value="T4DSMLGroup@gmail.com" />
		<add key="EmailPassword" value="MonitoringT4D" />
		<add key="EmailRecipients" value="gna.geomatics@gmail.com" />
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
		
	</appSettings>
</configuration>